<p id="notice"><%= notice %></p>

<h1>Listing Trips</h1>

<table>
  <thead>
    <tr>
      <th>Plane</th>
      <th>Route</th>
      <th>Pilot</th>
      <th>Date</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.plane_id %></td>
        <td><%= trip.route_id %></td>
        <td><%= trip.pilot_id %></td>
        <td><%= trip.date_time %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
<%= link_to 'volver al inicio', root_path %>
