<p id="notice"><%= notice %></p>

<p>
  <strong>Plane:</strong>
  <%= @trip.plane_id %>
</p>

<p>
  <strong>Route:</strong>
  <%= @trip.route_id %>
</p>

<p>
  <strong>Pilot:</strong>
  <%= @trip.pilot_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trip.date_time %>
</p>
<p>
  <strong>Landing:</strong>
  <%= @trip.landing_time %>
</p>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
<%= link_to 'volver al inicio', root_path %>