<%= form_for(@passenger) do |f| %>
  <% if @passenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passenger.errors.count, "error") %> prohibited this passenger from being saved:</h2>

      <ul>
      <% @passenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :viaje %><br>
    <%= f.select :trip_id, Trip.all.collect{|u| ["#{u.route.origin} - #{u.route.destination} #{u.date_time}", u.id]} %><br>
  </div>
  <div class="field">
    <%= f.label :identification %><br>
    <%= f.number_field :identification %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
