<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @passenger.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @passenger.lastname %>
</p>

<p>
  <strong>Trip ID:</strong>
  <%= @passenger.trip_id %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @passenger.identification %>
</p>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Back', passengers_path %>
<%= link_to 'volver al inicio', root_path %>